.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  border: 1px solid var(--color-border-default);
  border-radius: calc(var(--radius-lg) - 2px);
  overflow: hidden;

  &.clickable {
    cursor: pointer;

    &:hover {
      border-color: var(--color-text-primary);
    }
  }
}

.card-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  lucide-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.75rem;
    background-color: var(--color-bg-muted-alpha);
    border-radius: var(--radius-full);
    color: var(--color-text-secondary);
  }

  .empty-info {
    .empty-title {
      font-size: 0.875rem;
      color: var(--color-text-secondary);
    }

    .empty-subtitle {
      font-size: 0.75rem;
      margin-top: 0.25rem;
      color: color-mix(in srgb, var(--color-text-secondary) 60%, transparent);
    }
  }
}
