<div>
  <app-card-header title="Dashboard" subTitle="Przegląd najważniejszych informacji" />

  <div class="content">
    <app-actual-schedule-card />

    <div class="two-col-grid">
      <app-card>
        <div class="card-title" card-title>
          <lucide-icon [name]="UsersIcon" [size]="20" />
          <h3>Najlepsi kierowcy</h3>
        </div>
        <div class="card-subtitle" card-subtitle>Ostatnie 4 grafiki</div>

        <div class="card-content" card-content>
          @for (driver of bestDrivers; track driver.name; let idx = $index) {
            <div class="ranking">
              <span class="ranking-place">{{ idx }}</span>
              <span class="ranking-primary">{{ driver.name }}</span>
              <span class="ranking-tertiary">{{ driver.count }}</span>
            </div>
          }
        </div>
      </app-card>

      <app-card>
        <div class="card-title" card-title>
          <lucide-icon [name]="CarIcon" [size]="20" />
          <h3>Najczęściej używane samochody</h3>
        </div>
        <div class="card-subtitle" card-subtitle>Ostatnie 4 grafiki</div>

        <div class="card-content" card-content>
          @for (car of mostUsedCars; track car.model; let idx = $index) {
            <div class="ranking">
              <span class="ranking-place">{{ idx }}</span>
              <span class="ranking-primary">{{ car.plateNo }}</span>
              <span class="ranking-secondary">{{ car.model }}</span>
              <span class="ranking-tertiary">{{ car.count }}</span>
            </div>
          }
        </div>
      </app-card>
    </div>

    <app-actual-form-card />

    <div class="two-col-grid">
      <app-statistics />
      <app-card [emptyState]="true" />
    </div>
  </div>
</div>
