app-card {
  .card-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    lucide-icon {
      height: 1.25rem;
      color: var(--color-text-primary);
    }

    h3 {
      font-weight: 600;
    }
  }

  .card-subtitle {
    margin-top: calc(0.375rem - 1rem);
    color: var(--color-text-secondary);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
