.layout {
  display: flex;
  gap: 1rem;
  height: 100vh;
  overflow: hidden;
  padding: 1rem !important;
  background: #f5f7fa;

  ::ng-deep ng-component {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    padding: 1.5rem;
    overflow: hidden;
    color: var(--color-text-primary);
    background-color: var(--color-bg-base);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius-lg);
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
