.card-content .stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  background-color: var(--color-bg-muted-beta);
  border-radius: var(--radius-lg);

  &:not(:first-child) {
    margin-top: 0.75rem;
  }

  &.trading-up {
    lucide-icon {
      color: #16A34A;
      background-color: #22C55E33;
    }

    .stats-data {
      .value {
        color: #16A34A;
      }
    }
  }

  &.trading-down {
    lucide-icon {
      color: #dc2626ff;
      background-color: #ef444433;
    }

    .stats-data {
      .value {
        color: #dc2626ff;
      }
    }
  }

  lucide-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color: var(--color-bg-hover-light);
    border-radius: var(--radius-lg);
  }

  .stats-data {
    .label {
      color: var(--color-text-secondary);
      font-size: 0.75rem;
    }

    .value {
      font-weight: 700;
    }
  }
}
