@import './styles/card.scss';

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-primary: #0f1729;
  --color-text-secondary: #65758b;
  --color-text-inverse: #ffffff;
  --color-text-danger: #ef4343;
  --color-border-default: #cdd7e5;
  --color-border-muted: #e5e7eb;
  --color-bg-base: #ffffff;
  --color-bg-muted: #f3f5f7;
  --color-bg-muted-alpha: #f3f5f7cc;
  --color-bg-muted-beta: #F3F5F74C;
  --color-bg-hover-dark: #262626;
  --color-bg-hover-light: #2626261A;
  --gradient-dark: linear-gradient(to right, #333333, #1a1a1a);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
  --radius-lg: 0.875rem;
  --radius-full: 9999px;
  --transition-fast: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-normal: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
  caret-color: transparent;
}

